<h2>This is the profile of the book {{post.title}}</h2>

<h3>Edit the book name</h3>
<form method="POST" action="/posts/edit">
  <input name="title" type="text" placeholder="Post" value="{{post.title}}" />
  <input name="contentPost" type="text" placeholder="Post year" value="{{post.contentPost}}" />
  <input name="id" type="hidden" value="{{post.id}}" />
  <button type="submit">Edit Post</button>
</form>

<h3>DELETE Post!</h3>
{{!-- hbs does not support variables as arguments in functions, so we had to create the json helper --}}
<button type="button" onclick="deletePost({{ json post.id }})">Delete post</button>


<script>
  // When clicking the button, we receive the book id. After that, we'll send a delete fetch
  // to /books/:id and after deleting, we'll redirect to /books page. In case of error,
  // an alert will show communicating that to the user.
  function deletePost(postId) {
    fetch(`/posts/${postId}`, { method: 'DELETE' })
      .then(res => res.json())
      .then(() => {
        window.location.replace('/posts');
      })
      .catch((err) => {
        alert('There was an error deleting the post!')
      })
  }
</script>
